h1 {
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  animation: rainbowColors 5s infinite;
}

@keyframes rainbowColors {
  0% { color: red; }
  20% { color: orange; }
  40% { color: yellow; }
  60% { color: green; }
  80% { color: blue; }
  100% { color: violet; }
}

body {
    font: 1.2em / 1.5 sans-serif;
  }
  .first {
    max-width: 1000px;
    list-style: none;
    padding: 0;
    margin: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    margin: auto;
    height: 150px;
    background-color: grey;
  }
  .first a:link,
  .first a:visited {
    background-color: #4d7298;
    border: 2px solid #77a6b6;
    border-radius: 0.5em;
    color: white;
    padding: 0.5em;
    display: inline-block;
    text-decoration: none;
    margin-top: 50px;
  }

  .second ul {
    max-width: 1000px;
    list-style: none;
    padding: 0;
    margin: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-left: 5px solid black;
    border-right: 5px solid black;
    margin: auto;
    height: 150px;
    background-color: darkgrey;
  }
  .second a:link,
  .second a:visited {
    background-color: #4d7298;
    border: 2px solid #77a6b6;
    border-radius: 0.5em;
    color: white;
    padding: 0.5em;
    display: inline-block;
    text-decoration: none;
    margin-top: 50px;
  }

  .third ul {
    max-width: 1000px;
    list-style: none;
    padding: 0;
    margin: 100px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    border-left: 5px solid black;
    border-right: 5px solid black;
    margin: auto;
    height: 150px;
    background-color: lightgray;
  }
  .third a:link,
  .third a:visited {
    background-color: #4d7298;
    border: 2px solid #77a6b6;
    border-radius: 0.5em;
    color: white;
    padding: 0.5em;
    display: inline-block;
    text-decoration: none;
    margin-top: 50px;
  }

  .forth ul {
    max-width: 1000px;
    list-style: none;
    padding: 0;
    margin: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-left: 5px solid black;
    border-right: 5px solid black;
    margin: auto;
    height: 150px;
    background-color: darkgrey;
  }
  .forth a:link,
  .forth a:visited {
    background-color: #4d7298;
    border: 2px solid #77a6b6;
    border-radius: 0.5em;
    color: white;
    padding: 0.5em;
    display: inline-block;
    text-decoration: none;
    margin-top: 50px;
  }

  .fifth ul {
    max-width: 1000px;
    list-style: none;
    padding: 0;
    margin: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    margin: auto;
    height: 150px;
    background-color: grey;
  }
  .fifth a:link,
  .fifth a:visited {
    background-color: #4d7298;
    border: 2px solid #77a6b6;
    border-radius: 0.5em;
    color: white;
    padding: 0.5em;
    display: inline-block;
    text-decoration: none;
    margin-top: 50px;
  }

  .fifth ul {
    max-width: 1000px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-left: 5px solid black;
    border-right: 5px solid black;
    margin: auto;
    height: 150px;
    background-color: grey;
  }